    <!-- js -->
    <script type="text/javascript" src="{{ theme_url }}/js/vendor/respond.min.js"></script>
    <script src="{{ base_url }}/plugins/pschmitt/tableOfContents/code.js"></script>
    <!-- highlight.js -->
    <link rel="stylesheet" href="{{ theme_url }}/css/zenburn.css">
    <script src="{{ theme_url }}/js/vendor/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{ piwik_tracking_code }}
    <!-- js -->
    </body>
</html>
