<div class="sidebar pure-u">
    <a href="{{ base_url }}">
        <img id="logo" src="{{ theme_url }}/images/{{ logo ? logo : 'logo-arch-hover' }}.png" alt="{{ site_title }}" />
    </a>
    <div class="pure-menu pure-menu-open pure-menu-custom header">
        <input type="checkbox" id="toggle" />
        <label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu" onclick></label>
        <ul class="menu">
            <li><a href="{{ base_url }}/feed"><i class="fa fa-fw fa-rss-square"></i> Feed</a></li>
            <li{{ meta.title == 'Tags' ? ' class="nav_current"' : ''}}><a href="{{ base_url }}/tags"><i class="fa fa-fw fa-tags"></i> Tags</a></li>
            <li{{ meta.title == 'Projects' ? ' class="nav_current"' : '' }}><a href="{{ base_url }}/projects"><i class="fa fa-fw fa-terminal"></i> Projects</a></li>
            <li{{ meta.title == 'Private' ? ' class="nav_current"' : '' }}><a href="{{ base_url }}/private"><i class="fa fa-fw fa-shield"></i> Private</a></li>
            <li{{ meta.title == 'About' ? ' class="nav_current"' : '' }}><a href="{{ base_url }}/about"><i class="fa fa-fw fa-male"></i> About</a></li>
        </ul>
    </div>
</div>

